@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
}

:root.dark {
  --background: #0c0a09;
  --foreground: #fafaf9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /**
 * @bugfix Safari styles temporal fields with inconsistent inner padding
 * This removes it, normalizing the fields with regular inputs
 */
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-fields-wrapper,
  ::-webkit-datetime-edit-text,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-meridiem-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-year-field  {
	  padding: 0;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
